<div class="container">
  <h2 class="section-title">About Me</h2>
  <h3 class="section-subtitle">The man, the myth, the legend</h3>

  <div class="about-me">
    <div class="about-me--text">
      <p>Greetings!</p>
      <p>My name is Zachary Pataky, and I'm a software engineer. I'm currently working as a Full-Stack Developer at
        Merchants Insurance Group in downtown Buffalo, NY. My core responsibilities include creating and maintaining
        internal web portals; however, I'm versatile enough to complete many other tasks as well, ranging from external
        web APIs, simple scripting, etc.</p>
      <p>Outside of the office, you'll often find me playing video games, watching movies, reading books, or rolling at
        my Brazilian Jiu-Jitsu academy.</p>
      <p>I hope you enjoy perusing my website. Before leaving, please consider dropping me a message below.</p>
    </div>
    <div class="about-me--img-box">
      <img src="../../assets/images/about-me/culture-day.webp"
        alt="Zachary and his girlfriend serving food at a school event.">
    </div>
  </div>
</div>