// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$personal-website-angular-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($personal-website-angular-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf')
}

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #f1fa8c;
  color: #282a36;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

// General / Reusable

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.section-title {
  color: #ff79c6;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  color: #bd93f9;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  text-align: center;
}